{% extends 'user_base.html' %}
{% load static %}

{% block title %}Activity_details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/activity_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-styles.css' %}">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/sass_styles.css' %}">
    <script src="{% static 'js/profile_lookup.js' %}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}

    {% block content %}
    <!-- Main Content -->
    <div class="activity-bg" style="background: url('{{ event.image.url }}') no-repeat center center/cover;">
        <div class="challenge-container">
            <div class="challenge-info">
                <h2 class="gradient-text">{{ event.title }}</h2>
                <p>{{ event.description }}</p>
                <div class="tags">
                    <span class="tag food">{{ event.hobbies.all|join:", " }}</span>
                    <span class="points">&#128176; {{ event.diamonds }}</span>
                </div>
                <div class="tags">
                    
                    <span class="quota">&#128100; {{ event.spots_left }} spots left</span>
                </div>
                {% if user_is_registered %}
                    <button class="cancel-btn" data-event-id="{{ event.id }}" onclick="cancelEventRegistration({{ event.id }})">Cancel Registration</button>
                {% else %}
                    <button class="apply-btn" data-event-id="{{ event.id }}" onclick="applyToEvent({{ event.id }})">Apply</button>
                {% endif %}
                <div id="status-message" class="status-message"></div>
            </div>

        </div>
    </div>


        <div class="timing-location">
            <div class="info_section">
                <div class="secondContainer ">
                    <div class="game-code-container">
                        <h2>Scan QR Codes</h2>
                        <div class="section-qr">
                            <div id="my-qr-reader">
                            </div>
                        </div>
                    </div>
                    <div class="game-code-container">
                        <h2>Live Game Code</h2>
                        <form method="post" id="userLiveGame">
                            <input type="text" id="user_live_game" name="Live Game" required>
                            <button type="submit" class="submit-btn">Submit</button>
                        </form>
                        <p class="applied">Congratulations! Your attendance at {{ event.title }} is verified. Take Live Game code for more rewards at <a href="#">Live Game</a></p>
                    </div>
                    
                </div>
            <h3>Timing and location</h3>
            <div class="details">
                <div class="detail-box">
                    <span class="icon"><img src="{% static 'images/dateicon.jpg' %}" alt="icon" class="custom-icon"></span>
                    <div>
                        <p class="label">DATE AND TIME</p>
                        <p>{{ event.date }} at {{ event.time }}</p>
                    </div>
                </div>
                <div class="detail-box">
                    <span class="icon"><img src="{% static 'images/locicon.jpg' %}" alt="icon" class="custom-icon"></span>
                    <div>
                        <p class="label">PLACE</p>
                        <p>{{ event.location }}</p>
                    </div>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </div>

   
    <script src="{% static 'js/activity_details.js' %}"></script>
    <script
        src="https://unpkg.com/html5-qrcode">
    </script>

    <script>
        function showStatusMessage(message, isSuccess) {
            const statusMessage = document.getElementById("status-message");
            statusMessage.textContent = message;
            statusMessage.className = `status-message ${isSuccess ? 'success' : 'error'}`;
            statusMessage.style.display = 'block';

            // Скрываем сообщение через 3 секунды
            setTimeout(() => {
                statusMessage.style.display = 'none';
            }, 1500);
        }

        function applyToEvent(eventId) {
            fetch(`/apply_to_event/${eventId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    showStatusMessage(data.message, true);
                    // Обновляем страницу через 3 секунды
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                } else {
                    showStatusMessage(data.message, false);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showStatusMessage("An error occurred. Please try again.", false);
            });
        }

        function cancelEventRegistration(eventId) {
            fetch(`/cancel_event_registration/${eventId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    showStatusMessage(data.message, true);
                    // Обновляем страницу через 3 секунды
                    setTimeout(() => {
                        window.location.reload();
                    }, 1000);
                } else {
                    showStatusMessage(data.message, false);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showStatusMessage("An error occurred. Please try again.", false);
            });
        }
function domReady(fn) {
    if (
        document.readyState === "complete" ||
        document.readyState === "interactive"
    ) {
        setTimeout(fn, 1000);
    } else {
        document.addEventListener("DOMContentLoaded", fn);
    }
}

domReady(function () {

    // If found you qr code
    function onScanSuccess(decodeText, decodeResult) {
        alert("You Qr is : " + decodeText, decodeResult);
    }

    let htmlscanner = new Html5QrcodeScanner(
        "my-qr-reader",
        { fps: 10, qrbos: 250 }
    );
    htmlscanner.render(onScanSuccess);
});
    </script>
    {% endblock %}