{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Hobbies</title>
    <link rel="stylesheet" href="{% static 'css/hobbies.css' %}">
    <script>
        document.cookie = "csrftoken={{ csrf_token }}";
        </script>
</head>
<body>
    <div class="container">
        <h1 class="logo">Hobby<span>Hub</span></h1>
        <h2 class="title">Choose your hobbies</h2>
        <p class="subtitle">This will help us find interesting communities for you!</p>
        <div class="hobbies-container" id="hobby-list"></div>
        <div class="buttons">
            <button class="skip-btn">Skip</button>
            <button class="continue-btn" id="continue-btn">Continue</button>
        </div>
    </div>
    <script src="{% static 'js/hobbies.js' %}"></script>
</body>
</html>

