<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Hobbies</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hobbies.css' %}"
    <script src="{% static 'js/hobbiescss.js' %}" ></script>
</head>
<body>
    <div class="container">
        <h1 class="logo">Hobby<span>Hub</span></h1>
        <h2 class="title">Choose your hobbies</h2>
        <p class="subtitle">This will help us find interesting communities for you!</p>

        <form id="hobby-form" method="POST" action="{% url 'save_hobbies' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>Select Your Hobbies:</label>
                <div id="hobbies-container">
                    {% for hobby in hobbies %}
                        <button type="button" class="hobby-btn" data-hobby-id="{{ hobby.id }}">
                            {{ hobby.name }}
                        </button>
                    {% endfor %}
                </div>
                <input type="hidden" name="hobbies" id="selected-hobbies">
            </div>
            <div class="buttons">
                <a href="{% url 'sign_in' %}"><button type="button" class="skip-btn">Skip</button></a>
                <button type="submit" class="continue-btn">Continue</button>
            </div>
        </form>
        
    </div>

     <!-- Передаем URL сохранения хобби в data-атрибуте -->
    <script src="{% static 'js/hobbies.js' %}" 
        data-save-url="{% url 'save_hobbies' %}" 
        data-user-hobbies="{{ user_hobbies|default:'[]'|safe }}">
    </script>
</body>
</html>
