{% extends 'organizer_profile_base.html' %}
{% load static %}

{% block content %}
    

    <div class="container mt-4">
        <div class="row mainpartpro">
            <div class="col-md-2">
                <div class="sidebar p-4">
                    {% if company.profile_photo %}
                        <img src="{{ company.profile_photo.url }}" alt="Profile" class="rounded-circle mb-3" width="80">
                    {% else %}
                        <img src="{% static 'images/profile_photo.png' %}" class="rounded-circle mb-3" width="80">
                    {% endif %}   
               
                    <h5>{{ company.name }}</h5>
                    <div class="pro-act-set-tab w-100 mb-2"><i class="bi bi-info-circle"></i><a href="#"> Profile Info</a></div>
                    <div class="pro-set-tab w-100 mb-2"><i class="bi bi-gear"></i><a href="{% url 'organizer_settings' %}"> Settings</a></div>
                </div>
            </div>
            <div class="col-md-10 mainpartpro">
                <img src="{% static 'images/profile_banner.jpg' %}" class="img-fluid mb-3" alt="Banner">
                <div class="navbar user_det">
                    <div class="tab active-tab"><a href="#">Your Information</a></div>
                </div>
                <div class="form-container">
                    <div class="form-group">
                        <div class="input-field">
                            <label>Company Name</label>
                            <input type="text" value="{{ company.name }}" readonly>
                            <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                        </div>
                        <div class="input-field">
                            <label>Company ID</label>
                            <input type="text" value="{{ company.company_id }}" readonly>
                            <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" value="{{ company.email }}" readonly>
                            <i><img src="{% static 'images/mail_icon.png' %}" width="17"></i>
                        </div>
                        <div class="input-field">
                            <label>Password</label>
                            <input type="password" value="*****" readonly>
                            <i><img src="{% static 'images/hide_icon.png' %}" width="22"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-field">
                            <label>Date of Foundation</label>
                            <input type="text" value="{{ company.created_at|date:'d M, Y' }}" readonly>
                            <i><img src="{% static 'images/calendar_icon.png' %}" width="17"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
