{% extends "organizer_base.html" %}
{% load static %}
{% block extra_css %}
<title>Activity Details</title>
    <link rel="stylesheet" href="{% static 'css/organizer-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/organizer-details.css' %}">
{% endblock %}
{% block content %}
<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Live Game&#160;name
          </div>
          <div class="ag-courses-item_date-box description">
            Kahoot game
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            UX/UI Web-Design&#160;+ Mobile Design
          </div>
  
          <div class="ag-courses-item_date-box">
            Start:
            <span class="ag-courses-item_date">
              04.11.2022
            </span>
          </div>
        </a>
      </div>
    </div>
    </div>
{% endblock %}