{% extends 'organizer_profile_base.html' %}
{% load static %}

{% block content %}

        <div class="container mt-4">
            <div class="row  mainpartpro">
                <div class="col-md-2">
                    <div class="sidebar p-4 text-center">
                        {% if company.profile_photo %}
                            <img src="{{ company.profile_photo.url }}" alt="Profile" class="rounded-circle mb-3" width="80" alt="Profile">
                        {% else %}
                            <img src="{% static 'images/profile_photo.png' %}" class="rounded-circle mb-3" width="80" alt="Profile">
                        {% endif %}    
                        <h5>{{ company.name }}</h5>
                        <div class="pro-set-tab w-100 mb-2"><i class="bi bi-info-circle"></i><a href="{% url 'organizer_profile' %}"> Profile Info</a></div>
                        <div class="pro-act-set-tab w-100 mb-2"><i class="bi bi-gear"></i><a href="#"> Settings</a></div>
                    </div>
                </div>
                <div class="col-md-10 mainpartpro">
                    <img src="{% static 'images/profile_banner.jpg' %}" class="img-fluid  mb-3" alt="Banner">
                    <div class="navbar user_det">
                        <div class="tab " ><a href="{% url 'organizer_settings' %}">Account Setting</a></div>  <!--need to update-->

                    <div class="tab"><a href="{% url 'organizer_language' %}">Language Options</a></div>
                    <div class="tab active-tab"><a href="{% url 'organizer_notification' %}">Notification Preferences</a></div>
                    <div class="tab"><a href="{% url 'organizer_privacy' %}">Privacy Settings</a></div>
                    </div>
    
                
    
                    <div class="notification-container">
                        <h2>Notification preferences</h2>
                        <p class="description">
                            Get emails to find out what is going on when you are not online. You can turn them off anytime.
                        </p>
                
                        <h3>Notify me when</h3>
                        <p class="sub-description">
                            Receive the latest news, updates, and industry tutorials from us.
                        </p>
                
                
                        <div class="notification-option">
                            <input type="checkbox" id="reminders">
                            <label for="reminders">
                                <span class="custom-checkbox"></span>
                                <div class="notification-text">
                                    <strong>Reminders and Activities</strong>
                                <p>Tips on getting more out of Courier.</p>
                                </div>
                                
                            </label>
                        </div>
                
                        <div class="notification-option">
                            <input type="checkbox" id="email">
                            <label for="email">
                                <span class="custom-checkbox"></span>
                                <div class="notification-text">
                                    <strong>Email Notifications</strong>
                                    <p>Data results to help you better understand your users.</p>
                                </div>
                            </label>
                        </div>
                
                        <button class="save-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}