{% extends "organizer_base.html" %}
    {% load static %}
    {% block extra_css %}
    <title>Employees</title>
    <link rel="stylesheet" href="{% static 'css/organizer-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/employees.css' %}">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/employees.js' %}"></script>
    <script src="{% static 'js/notifications.js' %}"></script>
{% endblock %}
    
{% block content %}
    <section>
        <main style="margin-top:50px; padding-top: 70px;" >
            <h2>Employees</h2>
            <div class="buttons">
                <button id="new-requests-btn" class="btn activeh">New Employee Request</button>
                <button id="your-employees-btn" class="btn">Your Employees</button>
            </div>

            <!-- New Employee Requests Table -->
            <table id="new-requests-table" class="employees-table ">
                <thead>
                    <tr>
                        <th>Full Name & Email</th>
                        <th>Phone Number</th>
                        <th>Join Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="new-requests-body">
                    {% for employee in new_requests %}
                    <tr>
                        <td>{{ employee.name }} {{ employee.last_name }} ({{ employee.mail }})</td>
                        <td>{{ employee.number }}</td>
                        <td>{{ employee.join_date }}</td>
                        <td>
                            <button class="approve-btn" data-nickname="{{ employee.nickname }}">Approve</button>
                            <button class="remove-btn" data-nickname="{{ employee.nickname }}">Remove</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Your Employees Table -->
            <table id="your-employees-table" class="employees-table hidden">
                <thead>
                    <tr>
                        <th>Full Name & Email</th>
                        <th>Phone Number</th>
                        <th>Join Date</th>
                        <th>Hobbies</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in approved_employees %}
                    <tr>
                        <td>{{ employee.name }} {{ employee.last_name }} ({{ employee.mail }})</td>
                        <td>{{ employee.number }}</td>
                        <td>{{ employee.join_date }}</td>
                        <td>
                            {% for hobby in employee.hobbies.all %}
                                {{ hobby.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td> <button class="delete-btn" data-nickname="{{ employee.nickname }}">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </section>
    <script src="{% static 'js/employees.js' %}"></script>
{% endblock %}
    