{% extends "user_profile_base.html" %}
{% load static %}

{% block title %}HobbyHub{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/sass_styles.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/notifications.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
        var eventsData = {{ events_data|safe }};
    </script>
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mainpartpro">
        <div class="col-md-2">
            <div class="sidebar p-4">
                {% if user.profile_photo %}
                    <img src="{{ user.profile_photo.url }}" alt="Profile" class="rounded-circle mb-3" width="80">
                {% else %}
                    <img src="{% static 'images/profile_photo.png' %}" class="rounded-circle mb-3" width="80">
                {% endif %}
                <h5>{{ user.name }}</h5>
                <p><i class="bi bi-gem"></i> {{ user.diamonds }}</p>
                <div class="pro-act-set-tab w-100 mb-2"><i class="bi bi-info-circle"></i><a href="#">   Profile Info</a></div>
                <div class="pro-set-tab w-100 mb-2"><i class="bi bi-gear"></i><a href="{% url 'user_setting' %}">   Settings</a></div>
            </div>
        </div>
        <div class="col-md-10 mainpartpro">
            <img src="{% static 'images/profile_banner.jpg' %}" class="img-fluid mb-3" alt="Banner">
            <div class="navbar user_det">
                <div class="tab active-tab"><a href="{% url 'user_profile' %}">Your Information</a></div>
                <div class="tab tab_act"><a href="{% url 'profile_user_act' %}">Your Activities</a></div>
                <div class="tab"><a href="{% url 'user_achievements' %}">Achievements</a></div>
            </div>
            <div class="form-container">
                <div class="form-group">
                    <div class="input-field">
                        <label>First Name</label>
                        <input type="text" value="{{ user.name }}" readonly>
                        <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                    </div>
                    <div class="input-field">
                        <label>Last Name</label>
                        <input type="text" value="{{ user.last_name }}" readonly>
                        <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-field">
                        <label>Nickname</label>
                        <input type="text" value="{{ user.nickname }}" readonly>
                        <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                    </div>
                    <div class="input-field">
                        <label>Company_ID</label>
                        <input type="text" value="{{ user.company }}" readonly>
                        <i><img src="{% static 'images/imput_profile_icon.png' %}" width="17"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" value="{{ user.mail }}" readonly>
                        <i><img src="{% static 'images/mail_icon.png' %}" width="17"></i>
                    </div>
                    <div class="input-field">
                        <label>Password</label>
                        <input type="password" value="*****" readonly>
                        <i><img src="{% static 'images/hide_icon.png' %}" width="22"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-field">
                        <label>Date of Birth</label>
                        <input type="text" value="{{ user.date_of_birth }}" readonly>
                        <i><img src="{% static 'images/calendar_icon.png' %}" width="17"></i>
                    </div>
                    <div class="input-field">
                        <label>Gender</label>
                        <input type="text" value="{{ user.gender }}" readonly>
                    </div>
                </div>
            </div>
            <div class="hobbies">
                <span>Your Hobbies</span>
                {% if user.hobbies.all %}
                    {% for hobby in user.hobbies.all %}
                        <button class="hobby-btn">{{ hobby.name }}</button>
                    {% endfor %}
                {% else %}
                    <p>No hobbies selected.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
